html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
}

body {
height: 90%;
font: caption;
background-color: rgb(251, 251, 251);
}

#bookmarksFilterView {
    background-color: rgb(243, 88, 88);
    /* height: 100px; */
    overflow-y: scroll;
    /* min-height: 100px; */
    height:300px;
    /* height:400px; */
    width: 90%;
    border: .5em solid #3ea7f3;
    transition: background-color .2s ease-out;
}


#queryResultsContainer {
    list-style: none;
    padding: 0;
    width: 100%;
    height: auto;
    /* box-sizing: border-box; */
    /* margin-left: 0px; */
    /* float:left; */
    background-color: black;
    /* position: absolute;
    left: 0px;
    margin: 0 auto; */
}

.queryResultItem {
/* .fdsa { */
    /* display: block; */
    /* position: relative; */
    display: flex;
    flex-flow: column;
    /* display: inline-block; */
    height:100%;
    width:95%;
    /* display: flex;
    flex-flow: column; */
    /* min-height: 80px; */
    /* max-height: 100px; */
    /* overflow-y: auto; */
    background: dodgerblue;
    border: 3px dashed black;
    /* padding-right: 0px; */
    margin: 5px;
    padding:0px;
    /* position: relative; */
    /* float:left; */
    /* margin-left: 0px;
    padding-left: 0px;
    border-left: 0px;
    left: 0px; */
    
}

.webpageResultHeader {
    /* display: inline-block; */
    /* position:absolute; */
    width:100%;
    /* height: auto; */
    flex: 0 1 auto;
    /* position:relative; */
    /* left: 0;
    top:0;
    right:0;
    margin-top:0px;
    padding-top:0px; */
    background-color: aliceblue;
    /* overflow-wrap: normal; */
}

.webpageResultHeader a{
    background-color: crimson;
    word-wrap: break-word;
    height:auto;
}

.webpageInfoCont{
    /* display: inline-block; */
    /* position: absolute; */
    /* .afdsfdsa{ */
    /* position:relative; */
    /* display: flex; */
    /* justify-content: space-between; */
    /* height: auto; 
    width: 100%;
    margin: 5px 0 0 0;
    padding: 0; */
    background: brown;
    /* left:0;
    right:0;
    bottom:0; */
    flex: 1 1 auto;
}

.webpageDataCont{
    display: inline-block;
    position: relative;
    left:0;
    float:left;
    width:80%;
}

.webpageDataCont p{
    /* display: block; */
    /* position:relative;
    left:0; */
    /* float:left; */
    background-color: burlywood;
}

.webpageImgCont{
    /* display:block; */
    display: inline-block;
    position: relative;
    right: 0;
    float:right;
    /* align-self: flex-end; */
    /* flex: 0 0 auto; */
    /* float:right; */
    /* float:right; */
    /* display: inline-block; */
    /* position:relative; */
    /* right: 0; */
    /* width:auto; */
    height: 100%;
    width: 20%;
    /* width:100px;
    height: 15%;
    min-height: 3%;*/
    /* max-height: 45%;  */
    /* max-width: 30%; */
    
    padding:0px;
    background-color: yellow;
    
}

.webpageImgCont > img{
    display: inline-block;
    width:100%;
    height:100%;
    align-self: center;
    display: inline-block;
}









/* https://www.w3schools.com/howto/howto_css_switch.asp */
 /* The switch - the box around the slider */
 .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }