html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
}


body {
    height: 90%;
    font: caption;
    background-color: rgb(251, 251, 251);
}

#addAutoCollector_Container{
    background-color: aqua;
}

#selectionList {
    list-style: none;
    padding: 0;
    width: 100%;
    height: auto;
    /* box-sizing: border-box; */
    /* margin-left: 0px; */
    /* float:left; */
    /* background-color: black; */
    /* position: absolute;
    left: 0px;
    margin: 0 auto; */
}